/* Базовые значения */

html,
body {
	scroll-behavior: smooth;
	font-size: 16px;
	scroll-padding-top: 100px;
}

@media (max-width: 768px) {
	html,
	body {
		scroll-padding-top: 10px;
	}
}

body {
	font-family: 'Raleway', sans-serif;
	background-color: var(--bg-body);
	color: var(--font-color);
	font-weight: 500;
}

.body.no-scroll {
	overflow-y: hidden;
}

.container {
	max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
	margin-inline: auto;
	padding-inline: var(--container-padding-x);
}

@media (min-width: 768px) and (max-width: 1199px) {
	.container {
		max-width: calc(
			var(--container-width) + var(--container-padding-x-tablet) * 2
		);
		padding-inline: var(--container-padding-x-tablet);
	}
}

@media (min-width: 576px) and (max-width: 768px) {
	.container {
		max-width: calc(
			var(--container-width) + var(--container-padding-x-small-tablet) * 2
		);
		padding-inline: var(--container-padding-x-small-tablet);
	}
}

.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border: 0.0625rem solid var(--bg-green);
	width: fit-content;
	min-width: 14.1875rem;
	height: auto;
	min-height: 4.0625rem;
	font-size: 1.25rem;
	color: var(--bg-green);
	transition: var(--transition);
	padding-inline: 1.25rem;
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
	white-space: normal;
	flex-shrink: 0;
}

@media (max-width: 576px) {
	.btn {
		min-height: 3.125rem;
	}
}

@media (hover: hover) {
	.btn:hover {
		background-color: var(--bg-green);
		color: var(--font-white);
	}
}

.btn:focus-visible {
	border: 0.0625rem solid var(--bg-green);
	background: var(--bg-focus-white);
	color: var(--bg-green);
}

.btn:active {
	background: var(--bg-active-green);
	color: #fff;
}

.main {
	display: flex;
	flex-direction: column;
}

.subtitle {
	font-size: 1.125rem;
	line-height: 150%;
	color: var(--text-color);
}

@media (max-width: 576px) {
	.subtitle {
		font-size: 1rem;
	}
}

@media (max-width: 576px) {
	.mobile-hidden {
		display: none !important;
		visibility: hidden;
	}
}

@media (min-width: 576px) {
	.desktop-hidden {
		display: none !important;
		visibility: hidden;
	}
}